<div id="instructiontext" ng-controller="AdminController">
  <div class="alert alert-warning alert-dismissable" ng-if="showStatusWarning == 1" >
    <a class="close" data-dismiss="alert" aria-label="close" ng-click="closeWarningInfo()">&times;</a>
    <strong>Warning!</strong> {{errorMsg}}
  </div>
  <div class="alert alert-success alert-dismissable" ng-if="showStatusSuccess == 1" >
    <a class="close" data-dismiss="alert" aria-label="close" ng-click="closeSuccessInfo()">&times;</a>
    <strong>Success!</strong> You updated status.
  </div>
  <h2>Admin Setting</h2>
  <br>
  <div class="dropdown">
    Please select an user:
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> {{users[selectedUserIndex].username}}
    <span class="caret"></span></button>
    <ul class="dropdown-menu scrollable-menu">
      <li ng-repeat="user in users" ng-click="selectUser($index)"><a>{{user.username}}</a></li>
    </ul>
  </div>
  <br>
  <div class="dropdown">
    Account Status:
    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown"> {{userActiveState}}
    <span class="caret"></span></button>
    <ul class="dropdown-menu scrollable-menu">
      <li ng-click="changeAccountStatus(0)"><a>Active</a></li>
      <li ng-click="changeAccountStatus(1)"><a>Inactive</a></li>
    </ul>
  </div>
  <br>
  <div class="dropdown">
    Privilege Level:
    <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown"> {{userPrivilegeLevel}}
    <span class="caret"></span></button>
    <ul class="dropdown-menu scrollable-menu">
      <li ng-click="changePrivilegeLevel(0)"><a>Citizen</a></li>
      <li ng-click="changePrivilegeLevel(1)"><a>Coordinator</a></li>
      <li ng-click="changePrivilegeLevel(2)"><a>Administrator</a></li>
    </ul>
  </div>
  <br>
  <form id="loginform" ng-submit="logIn()">
    <div>
      <label><b>New Username:</b></label>
      <input type="text" class="form-control" placeholder="Enter Username" ng-model="newUsername" ng-disabled="showError===2">
    </div>
    <br/>
    <div>
      <label><b>New Password:</b></label>
      <input type="password" class="form-control" placeholder="Enter Password" ng-model="newPassword" ng-disabled="showError===2" required>
    </div>
    <br/>
  </form>
  <div class="text-center">
    <div class="btn-group text-center">
      <button ng-click="saveAdminSetting()" class="btn btn-success">
      <span class="glyphicon glyphicon-ok"></span> Update</button>
    </div>
  </div>
</div>
