<div class="container" ng-controller='AnnouncementController'>
  <div id="contentWrap">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span ng-show="!isSearchShown" class="button-height">Announcements</span>
        <button type="button" class="btn btn-default float-right" aria-label="Left Align" ng-show="!isSearchShown" ng-click="toggleSearchForm()">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
        <div id="searchForm" class="input-group" ng-show="isSearchShown">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="toggleSearchForm()"><span class="glyphicon glyphicon-chevron-left"></button>
          </span>
          <input ng-model="searchMsg" placeholder="Search Messages" autocomplete="off" class="form-control" type="text" id="searchMsgForm">
          <span class="input-group-btn">
             <button type="button" class="btn btn-warning" ng-click="clearSearch()" ng-class="{'disabled':(searchMsg || '')==''}"><span class="glyphicon glyphicon-remove"></span></button>
          </span>
        </div>
      </div>
      <div class="panel-body">

        <div class="msg-list-announcement" scroll-top="msgs">
          <div class="alert alert-danger" role="alert" ng-if="finalSearchMsg === '' && searchMsg !== ''">
            You are searching only <b>stop words!</b>
          </div>
          <div class="alert alert-success" role="alert" ng-if="finalSearchMsg !== ''">
            You are searching <b>"{{finalSearchMsg}}"!</b>
          </div>
          <li ng-repeat="msg in filtered = (msgs | filter : msgFilter) | orderBy:(finalSearchMsg === '' ? '+' : '-') | limitTo:msgNumberUpperBound">
            <div class="individualMsg">
              <b>
                <span ng-class="{'glyphicon glyphicon-plus-sign text-danger':msg.statusCode == 'RED', 'glyphicon glyphicon-alert text-warning':msg.statusCode == 'YELLOW', 'glyphicon glyphicon-ok-sign text-success':msg.statusCode == 'GREEN', 'glyphicon glyphicon-question-sign text-muted':msg.statusCode == 'UNDEFINED'}"></span>
                {{ msg.author }}
              </b>
              <span class="msgInfo"> - {{msg.postedAt | date: "y.MM.dd h:mm:ss"}}<span ng-if="msg.location"> @ [{{msg.location.coordinates[0] | number:2}}, {{msg.location.coordinates[1] | number:2}}]</span></span><br>{{ msg.content }}
            </div>
          </li>
          <li ng-if="filtered.length > msgNumberUpperBound">
            <div class="text-center">
              <button type="button btn-block" class="btn btn-link" ng-click="getMore()">Show {{msgLeft}} more</button>
            </div>
          </li>
        </div>
        <hr id="userlistHr">
        <form ng-submit="sendPostContent()" ng-show="adminuser.privilegeLevel > 0">
          <div class="input-group">
            <input class="form-control" type="text" ng-model="postContent" placeholder="Announcement..." autocomplete="off" id="msgForm">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-pencil"></span></button>
            </span>
          </div><!-- /input-group -->
        </form>
      </div>
    </div>
  </div>
</div>
