<div class="container-fluid ng-scope" ng-controller='HomeController'>
  <div class="col-md-6 col-md-offset-3">
    <h1 class="h1center">Welcome</h1>
    <div>
      <button type="submit" class="btn btn-primary center-block" ng-click="join();">Join the community</button>
    </div>

  </div>
</div>
