<div ng-controller='HospitalController'>
    <div class="col-md-6 col-md-offset-3">
      <p class="text-center" ng-hide="dataLoaded">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
      </p>
      <div ng-show="dataLoaded">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Hospital</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat='data in mapDataArray'>
                <td>
                  {{data.name}}
                </td>
                <td>
                  <a class="btn black-background white" ng-href='{{data.link}}'><img src="../img/Uber_App_Icon.png"/>&nbsp;{{time}} min left {{data.price}}</a>
                </td>
              </tr>
            </tbody>
          </table>
            <button type="submit" class="btn btn-danger center-block" ng-click="cancel();">Cancel</button>
            <div class="alert alert-danger" role="alert" ng-show="mapDataArray.length == 0">
              No hospital found!
          </div>
      </div>
    </div>
</div>
