<div ng-controller='HospitalInstructionController'>
  <div class="col-md-6 col-md-offset-3">
    <h2>Instruction</h2>
    <div>
      By using this service, you can call Uber to the hospital nearby.
      Make sure you allow your browser access your location
    </div>
      <div>
        <button type="submit" class="btn btn-primary center-block" ng-click="start();">Start</button>
        <div class="alert alert-danger" role="alert" ng-show="statusCrumbsNotFound">
          You have to make browser access your location or
          wait a moment!
        </div>
      </div>
    </div>
</div>
