<div id="instructiontext" ng-controller="InstructionController">
  <div class="alert alert-warning alert-dismissable" ng-if="showWarning==1" >
    <a class="close" data-dismiss="alert" aria-label="close" ng-click="closeWarning()">&times;</a>
    <strong>Warning!</strong> Please select your status or press "Later".
  </div>
  <h2>Instruction</h2>
  <div>
    Welcome!
    <br>In ESN, you can share your status (<b>OK</b>, <b>help</b>, or <b>emergency</b>) with other members.
    <br><br> Status description:<br>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th id="tableRowTitle">Status</th>
          <th id="tableRowTitle">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="status in statuses" ng-class="status.tableClass">
          <td id="tableRowTitle"><b>{{status.status}}</b></td>
          <td id="tableRowDescription">{{status.description}}</td>
        </tr>
      </tbody>
    </table>

    Note:
    <ol>
      <li>If you have not selected your status, your status will be "<b>undifined</b>".</li>
      <li>You can also describe your location.</li>
    </ol>
    <div class="text-center">
      <div class="btn-group">
          <button ng-click="goToUserList();"  class="btn btn-success">
          <span class="glyphicon glyphicon-ok"></span> Got it</button>
      </div>
    </div>
  </div>
</div>
