<div class="container-fluid ng-scope" ng-controller='AuthController'>
  <div class="col-md-6 col-md-offset-3">
    <h1>Login</h1>
    <form id="loginform" ng-submit="logIn()">
      <div>
        <label><b>Username</b></label>
        <input type="text" class="form-control" placeholder="Enter Username" ng-model="username" ng-disabled="showError===2" required>
      </div>
      <br/>
      <div>
        <label><b>Password</b></label>
        <input type="password" class="form-control" placeholder="Enter Password" ng-model="password" ng-disabled="showError===2" required>
      </div>
      <br/>
      <button type="submit" class="btn btn-primary center-block" ng-disabled="showError===2">Login</button>
    </form>

    <br/>

    <div class="alert alert-danger" role="alert" ng-if="showError == 401">
      <strong>Warning!</strong> {{ data }}
    </div>

    <div ng-if="showError == 404">
      <div class="alert alert-danger" role="alert">
      You have not registered in the ESN chatroom. If you click OK, we will create a new account for you.
      </div>
      <div class="text-center">
        <div class="btn-group">
          <button type="button" id="signupinfo" class="btn btn-success" ng-click="signUp();">
            <span class="glyphicon glyphicon-ok"></span> OK</button>
          <button type="button" id="signupinfo" class="btn btn-danger" ng-click="reset();">
            <span class="glyphicon glyphicon-remove"></span> NO</button>
        </div>
      </div>
    </div>

    <div class="alert alert-warning" role="alert" ng-model="data" ng-if="showError == 400">
      {{ data }}
    </div>
  </div>
</div>
