<div class="container-fluid ng-scope" ng-controller='AuthController'>
  <div class="col-md-6 col-md-offset-3">
    <div id ="logoutInfo">Are you sure to logout?</div>
    <div>
      <button type="submit" class="btn btn-primary center-block" ng-click="logOut();">Yes</button>
    </div>
  </div>
</div>
