<div id="instructiontext" ng-controller="ProfileController">
  <div class="alert alert-warning alert-dismissable" ng-if="showStatusWarning == 1" >
    <a class="close" data-dismiss="alert" aria-label="close" ng-click="closeStatusWarning()">&times;</a>
    <strong>Warning!</strong> Please select your status.
  </div>
  <div class="alert alert-success alert-dismissable" ng-if="showStatusSuccess == 1" >
    <a class="close" data-dismiss="alert" aria-label="close" ng-click="closeStatusSuccess()">&times;</a>
    <strong>Success!</strong> You updated your status.
  </div>
  <h2>Profile Setting</h2>
  <br>Please select your status:
  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th id="tableRowTitle">Status</th>
        <th id="tableRowTitle">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="status in statuses" ng-class="{'success':$index == selectedRow && $index == 0, 'warning':$index == selectedRow && $index == 1, 'danger':$index == selectedRow && $index == 2} ">
        <td id="tableRowSelect">
          <div class="radio">
            <label><input type="radio" name="optradio" ng-click="setClickedRow($index)" ng-checked="selectedRow == $index"></label>
          </div>
        </td>
        <td id="tableRowTitle"><b>{{status.status}}</b></td>
        <td id="tableRowDescription">{{status.description}}</td>
      </tr>
    </tbody>
  </table>
  <div>
    Please describe your location (optional):
    <input class="form-control" type="text" ng-model="locationDescription" placeholder="Location description..." autocomplete="off" id="msgForm">
  </div>
  <br>
  Nearby list:
  <div class="dropdown">
    Distance Range: <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" id="selectReceiver" aria-haspopup="true" aria-expanded="false"><span class="caret"></span> {{tempDistance}} km
    </button>
    <ul class="dropdown-menu scrollable-menu">
      <li ng-repeat="dis in distances" ng-click="selectDistance($index)"><a>{{dis}} km</span></a></li>
    </ul>
  </div>
  <br>
  <div>
    <h3>Share footprints setting</h3>
    <label>
      <input type="radio" ng-model="shareFootprintsSetting" value="2" id="share-footprint-auto">
      Auto
    </label>
    <label>
      <input type="radio" ng-model="shareFootprintsSetting" value="1" id="share-footprint-on">
      On
    </label>
    <label>
      <input type="radio" ng-model="shareFootprintsSetting" value="0" id="share-footprint-off">
      Off
    </label>
  </div>
  <br/>
  <div class="text-center">
    <div class="btn-group text-center">
      <button ng-click="saveStatusGoToUserList($index);" class="btn btn-success">
      <span class="glyphicon glyphicon-ok"></span> Update</button>
    </div>
  </div>
</div>
