<div class="container" ng-controller="ResourceSharingController">

  <div class="alert alert-warning alert-dismissable" ng-if="showWarning" >
    <a class="close" data-dismiss="alert" aria-label="close" ng-click="closeWarning()">&times;</a>
    <strong>Warning!</strong> Please select at least one shareable resource type.
  </div>
  <div class="alert alert-success alert-dismissable" ng-if="showSuccess" >
    <a class="close" data-dismiss="alert" aria-label="close" ng-click="closeSuccess()">&times;</a>
    <strong>Success!</strong> Thanks for sharing with others!
  </div>

  <h3>Resource Sharing</h3>
  <br>
  <div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" style="width:50%;" class="active">
        <a aria-controls="shareables-list-tab" role="tab" data-toggle="tab" ng-click="toggleTabs()">Who's sharing?</a>
      </li>
      <li role="presentation" style="width:50%;">
        <a aria-controls="shareables-form-tab" role="tab" data-toggle="tab" ng-click="toggleTabs()">Share mine!</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" ng-if="isListDisplayed">
        <div class="panel panel-default">
          <div class="panel-body" style="max-height:450px; overflow-y:scroll;">
            <ul class="list-unstyled">
              <li ng-repeat="shareable in shareables" >
                <div class="resource-sharing-list-item">
                  <p><a href="/#!/chat?id={{shareable.username}}"><b>{{shareable.username}}</b></a></p>
                  <p><b>Available:</b> {{shareable.types}}</p>
                  <p><b>Description:</b> {{shareable.description}}</p>
                  <p><b>Posted at:</b> {{shareable.createdAt | date: "y.MM.dd h:mm:ss"}}</p>
                  <p><b>Location:</b> {{shareable.location.coordinates}}</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane active" ng-if="!isListDisplayed">
        <br>
        <div class="container">
          <form ng-submit="submitForm()">
            <div class="form-group">
              <h4>What can I share?</h4>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="currentShareableModel.types['FOOD']"> Food
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="currentShareableModel.types['WATER']"> Water
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="currentShareableModel.types['MEDKIT']"> Medical Kit
                </label>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="currentShareableModel.types['SHELTER']"> Shelter
                </label>
              </div>
            </div>
            <div class="form-group">
              <label>Description:</label>
              <textarea class="form-control" rows="2" maxlength="70" placeholder="Say something! (optional)" ng-model="currentShareableModel.description"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" style="width:100%">
                <span class="glyphicon glyphicon-ok"></span> Post
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
