<div class="container" ng-controller="ShareController">
<div id="contentWrap">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <span>Tweet</span>
      <a href="/api/users/twitter/login">
        <button id="logintwitter" type="button" class="btn btn-info float-right">
          Log In Twitter
        </button>
      </a>
    </div>
    <div class="panel-body1">
      <hr id="userlistHr">
      <div class="col-md-12">
        <div class="msg-list" scroll-top="msgs">
          <li ng-repeat="msg in msgs">
            <div class="individualMsg">
              <b>
                {{ msg.author }}
              </b>
              <span class="msgInfo"> - {{msg.postedAt | date: "y.MM.dd h:mm:ss"}}</span><br>{{ msg.content }}
            </div>
          </li>
        </div>
        <br>
        <form ng-submit="sendShareContent()">
          <input class="form-control" type="text" ng-model="shareContent" placeholder="Input..." autocomplete="off" id="msgForm">
          <div class="input-group-btn">
            <div>
              <button type="submit" class="btn btn-success  btn-block">
                <span class="glyphicon glyphicon-send"></span>Twitter</button>
            </div>
          </div>
        </form>
        <br>
      </div>
    </div>
  </div>
</div>
</div>




