<div class="container-fluid" ng-controller='UserListController'>
  <div class="panel panel-primary" id="contentWrap">
    <div class="panel-heading">
      <div class="btn-group" data-toggle="buttons" ng-show="!isSearchShown">
        <label class="btn active" ng-click="isStatusOkChecked=!isStatusOkChecked" ng-class="isStatusOkChecked?'btn-primary':'btn-default'">
          <input type="checkbox">
          <span class="glyphicon glyphicon-ok-sign"></span>
        </label>
        <label class="btn active" ng-click="isStatusHelpChecked=!isStatusHelpChecked" ng-class="isStatusHelpChecked?'btn-primary':'btn-default'">
          <input type="checkbox">
          <span class="glyphicon glyphicon-alert"></span>
        </label>
        <label class="btn active" ng-click="isStatusEmergencyChecked=!isStatusEmergencyChecked" ng-class="isStatusEmergencyChecked?'btn-primary':'btn-default'">
          <input type="checkbox">
          <span class="glyphicon glyphicon-plus-sign"></span>
        </label>
        <label class="btn active" ng-click="isStatusUndefinedChecked=!isStatusUndefinedChecked" ng-class="isStatusUndefinedChecked?'btn-primary':'btn-default'">
          <input type="checkbox">
          <span class="glyphicon glyphicon-question-sign">
        </label>
      </div>
      <button type="button" class="btn btn-default float-right" aria-label="Left Align" ng-show="!isSearchShown" ng-click="toggleSearchForm()">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
      <div id="searchForm" class="input-group" ng-show="isSearchShown">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" ng-click="toggleSearchForm()"><span class="glyphicon glyphicon-chevron-left"></button>
        </span>
        <input ng-model="searchText" placeholder="Search Username" autocomplete="off" class="form-control" type="text">
        <span class="input-group-btn">
           <button type="button" class="btn btn-warning" ng-click="clearSearch()" ng-class="{'disabled':(searchText || '')==''}"><span class="glyphicon glyphicon-remove"></span></button>
        </span>
      </div>
    </div>

    <div class="panel-body" id="panel-body">
      <div class="user-list">
        <div>
          <h4>Online:</h4>
          <ul class="list-unstyled">
            <li ng-repeat="user in users | filter : { username : searchText } | orderBy:['-isOnline','+username']" ng-if="user.isOnline && ((isStatusOkChecked && user.statusCode == 'GREEN') || (isStatusHelpChecked && user.statusCode == 'YELLOW') || (isStatusEmergencyChecked && user.statusCode == 'RED') || (isStatusUndefinedChecked && user.statusCode == 'UNDEFINED'))">
              <span ng-style="setColor(user.isOnline)">
                <span ng-class="{'glyphicon glyphicon-plus-sign text-danger':user.statusCode == 'RED', 'glyphicon glyphicon-alert text-warning':user.statusCode == 'YELLOW', 'glyphicon glyphicon-ok-sign text-success':user.statusCode == 'GREEN', 'glyphicon glyphicon-question-sign text-muted':user.statusCode == 'UNDEFINED'}"></span>
                <a href="/#!/chat?id={{user.username}}">{{ user.username }}</a> {{user.distance}}
              </span>
              <a ui-sref="footprints({username: user.username})" ng-show="user.shareFootprintsSetting > 0" class='footprint-btn'><img src="/img/ic_my_location_black_24dp_1x.png"></a>
            </li>
          </ul>
        </div>
        <br>
        <div>
          <h4>Offline:</h4>
          <ul class="list-unstyled">
            <li ng-repeat="user in users | filter : { username : searchText } | orderBy:['-isOnline','+username']" ng-if="!user.isOnline && ((isStatusOkChecked && user.statusCode == 'GREEN') || (isStatusHelpChecked && user.statusCode == 'YELLOW') || (isStatusEmergencyChecked && user.statusCode == 'RED') || (isStatusUndefinedChecked && user.statusCode == 'UNDEFINED'))">
              <span ng-style="setColor(user.isOnline)">
                <span ng-class="{'glyphicon glyphicon-plus-sign text-danger':user.statusCode == 'RED', 'glyphicon glyphicon-alert text-warning':user.statusCode == 'YELLOW', 'glyphicon glyphicon-ok-sign text-success':user.statusCode == 'GREEN', 'glyphicon glyphicon-question-sign text-muted':user.statusCode == 'UNDEFINED'}"></span>
                <a href="/#!/chat?id={{user.username}}">{{ user.username }}</a> {{user.distance}}
              </span>
              <a ui-sref="footprints({username: user.username})" ng-show="user.shareFootprintsSetting > 0" class='footprint-btn'><img src="/img/ic_my_location_black_24dp_1x.png"></a>
            </li>
          </ul>
        </div>
        <br>
        <div>
          <h4>Nearby ({{distance}} km):</h4>
          <ul class="list-unstyled" id="nearbyList">
            <li ng-repeat="user in nearByUsers | filter : { username : searchText } | orderBy:['-isOnline','+username']" ng-if="((isStatusOkChecked && user.statusCode == 'GREEN') || (isStatusHelpChecked && user.statusCode == 'YELLOW') || (isStatusEmergencyChecked && user.statusCode == 'RED') || (isStatusUndefinedChecked && user.statusCode == 'UNDEFINED'))">
              <span ng-style="setColor(user.isOnline)">
                <span ng-class="{'glyphicon glyphicon-plus-sign text-danger':user.statusCode == 'RED', 'glyphicon glyphicon-alert text-warning':user.statusCode == 'YELLOW', 'glyphicon glyphicon-ok-sign text-success':user.statusCode == 'GREEN', 'glyphicon glyphicon-question-sign text-muted':user.statusCode == 'UNDEFINED'}"></span>
                <a href="/#!/chat?id={{user.username}}">{{ user.username }}</a> {{user.distance}}
              </span>
              <a ui-sref="footprints({username: user.username})" ng-show="user.shareFootprintsSetting > 0" class='footprint-btn'><img src="/img/ic_my_location_black_24dp_1x.png"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
