<!DOCTYPE html>
<html ng-app='FseEsnApp'>
  <head>
    <meta charset="utf-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>FSE ESN</title>
  </head>
  <body>
  <div id="fb-root"></div>
    <!-- Navigation bar -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">FSE ESN</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a ui-sref="userList" data-toggle="collapse" data-target=".navbar-collapse.in">User List</a></li>
            <li><a ui-sref="chat" data-toggle="collapse" data-target=".navbar-collapse.in">Chat</a></li>
            <li><a ui-sref="announcements" data-toggle="collapse" data-target=".navbar-collapse.in">Announcements</a></li>
            <li><a ui-sref="sharetotwitter" data-toggle="collapse" data-target=".navbar-collapse.in">Tweet</a></li>
            <li><a ui-sref="hospitalInstruction" data-toggle="collapse" data-target=".navbar-collapse.in">OneClick Uber Call</a></li>
            <li><a ui-sref="shareables" data-toggle="collapse" data-target=".navbar-collapse.in">Shareables</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="instruction" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-question-sign hidden-xs"></span><span class="visible-xs">Instructions</span></a></li>
            <%if (privilegeLevel == 2) { %>
            <li><a ui-sref="admin" data-toggle="collapse" data-target=".navbar-collapse.in">Admin</a></li>
            <% } %>
            <li><a ui-sref="profile" data-toggle="collapse" data-target=".navbar-collapse.in" id="username-text"><%= username %></a></li>
            <li><a ui-sref="logout" data-toggle="collapse" data-target=".navbar-collapse.in">Log out</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- View -->
    <ui-view></ui-view>

    <!-- Libraries -->
    <script type="text/javascript" src="lib/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="lib/socket.io.slim.min.js"></script>
    <script type="text/javascript" src="lib/ng-map.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZb48DVy2K_qTZ7H1pxU3U-G6kaPCHFl0"></script>

    <!-- Routes -->
    <script type="text/javascript" src="app.js"></script>

    <!-- Services -->
    <script type="text/javascript" src="services/adminService.js"></script>
    <script type="text/javascript" src="services/announcementService.js"></script>
    <script type="text/javascript" src="services/authService.js"></script>
    <script type="text/javascript" src="services/chatService.js"></script>
    <script type="text/javascript" src="services/footprintsService.js"></script>
    <script type="text/javascript" src="services/hospitalService.js"></script>
    <script type="text/javascript" src="services/resourceSharingService.js"></script>
    <script type="text/javascript" src="services/searchFilterService.js"></script>
    <script type="text/javascript" src="services/shareService.js"></script>
    <script type="text/javascript" src="services/staticDataService.js"></script>
    <script type="text/javascript" src="services/userService.js"></script>


    <!-- Controllers -->
    <script type="text/javascript" src="controllers/adminController.js"></script>
    <script type="text/javascript" src="controllers/announcementController.js"></script>
    <script type="text/javascript" src="controllers/authController.js"></script>
    <script type="text/javascript" src="controllers/chatController.js"></script>
    <script type="text/javascript" src="controllers/footprintsController.js"></script>
    <script type="text/javascript" src="controllers/homeController.js"></script>
    <script type="text/javascript" src="controllers/hospitalController.js"></script>
    <script type="text/javascript" src="controllers/hospitalInstructionController.js"></script>
    <script type="text/javascript" src="controllers/instructionController.js"></script>
    <script type="text/javascript" src="controllers/profileController.js"></script>
    <script type="text/javascript" src="controllers/resourceSharingController.js"></script>
    <script type="text/javascript" src="controllers/shareToTwitterController.js"></script>
    <script type="text/javascript" src="controllers/userListController.js"></script>

  </body>
</html>
