<!DOCTYPE html>
<html ng-app='FseEsnApp'>
  <head>
    <meta charset="utf-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <title>FSE ESN</title>
  </head>
  <body>

    <ui-view></ui-view>

    <div id='map'></div>

    <!-- Libraries -->
    <script type="text/javascript" src="lib/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="lib/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/angular.min.js"></script>
    <script type="text/javascript" src="lib/angular-ui-router.min.js"></script>

    <!-- Routes -->
    <script type="text/javascript" src="app-not-logged-in.js"></script>

    <!-- Service -->
    <script type="text/javascript" src="services/authService.js"></script>
    <script type="text/javascript" src="services/staticDataService.js"></script>
    <script type="text/javascript" src="services/userService.js"></script>

    <!-- Controller -->
    <script type="text/javascript" src="controllers/authController.js"></script>
    <script type="text/javascript" src="controllers/homeController.js"></script>
    <script type="text/javascript" src="controllers/instructionController.js"></script>

  </body>
</html>
