#instructiontext {
    padding-right: 16px;
    padding-left: 16px;
}
.msg-list {
    overflow-y: scroll;
    height: calc(100vh - 240px);
    overflow-wrap: break-word;
    padding-bottom: 5px;
}
.msg-list-announcement {
    overflow-y: scroll;
    height: calc(100vh - 200px);
    overflow-wrap: break-word;
    padding-bottom: 5px;
    list-style: none;
}
.user-list {
    overflow-y: scroll;
    height: calc(100vh - 170px);
    min-height: 368px;
    text-overflow: ellipsis;
    white-space:nowrap;
    font-size: 1.2em;
}
.msg-list>li, .user-list>li {
    list-style: none;
}
.msg-list li:nth-child(even) {
    background: #f7f7f7;
    color: #000066;
}
.msg-list li:nth-child(odd) {
    color: #000066;
}
div.panel-body {
    height: calc(100vh - 130px);
    min-height: 390px;
}
.panel {
    flex-shrink: 0;
    overflow: hidden;
}
.panel-body {
    padding: 12px;
}
body {
    min-width: 235px;
}
.h1center {
    text-align: center;
}
.float-right {
    float: right;
}
#tableRowTitle {
    text-align: center;
    vertical-align: middle;
}
#tableRowDescription {
    vertical-align: middle;
}
#tableRowSelect {
    vertical-align: middle;
}
.radio {
    text-align: center;
}
#customTitle {
    float: left;
    font-size: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 70vw;
    white-space:nowrap;
}
.scrollable-menu {
    height: auto;
    max-height: 320px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 70vw;
    white-space:nowrap;
}
.individualMsg {
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 3px;
    margin-top:4px;
}
.msgInfo {
    font-size: 10px;
}
#selectReceiver {
    max-width: 80vw;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap;
}
#newMsg {
    position: absolute;
    top: -6px;
    left: -10px;
    text-align: center;
    font-size: 1em;
    background-color: #FF0000;
    color: #FFF;
    opacity: .8;
    z-index: 999;
}
#lastMsg {
    position: absolute;
    bottom: 100px;
    left: 5%;
    text-align: center;
    font-size: 3em;
    background-color: orange;
    color: #FFF;
    opacity: .8;
    width: 90%;
}
.panel-primary>.panel-heading .badge {
    color: #a94442;
    background-color: #f2dede;
}
hr#userlistHr {
    margin-top: 5px;
    margin-bottom: 10px;
}
.button-height {
    height: 34px;
    display:inline-block;
    line-height:34px;
}

#logintwitter {
    height: 25px;
    padding-top: 3px;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.black-background {background-color:#000000;}

.white {color:#ffffff;}

.navbar {
    margin-bottom: 0px;
}

.full-height {
    height: calc(100vh - 50px);
}

.resource-sharing-list-item {
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 5px 10px;
    margin: 5px 0px;
}

.btn-localized-broadcast {
    width: 100%;
    margin: 5px 0px;
}
